<div id="aboutModal" class="reveal-modal" data-reveal>
  <h2>Oi!</h2>
  <p class="lead">Nós somos o Diego, a Livia e a Marcelle.</p>

  <p>O Passaporte UFPR é nosso trabalho de conclusão
  de curso mas, mais que isso, é um site que todos
  gostaríamos de ter tido antes dos nossos intercâmbios.</p>

  <p>Sim, nós 3 fomos intercambistas pela UFPR. E nós 3
  percebemos que tem informações e dicas que só quem
  já viajou pode dar aos futuros intercambistas. Assim
  surgiu a ideia de reunirmos tudo isso em um só lugar,
  de uma maneira descolada e interativa.</p>

  <p>Nesse site voce vai encontrar nosso perfil e de tantos
  outros alunos que toparam colaborar nesse projeto.</p>

  <p>Queremos que cada vez mais esse seja um banco de
  dados super completo para que todos os alunos da
  Universidade possam usufruir. Assim, na volta do
  intercâmbio, o aluno consegue dividir sua experiência
  em um ambiente maior que um relatório acadêmico,
  onde todos podem acessar e interagir.</p>

  <a class="close-reveal-modal">&#215;</a>
</div>
