<div id="howModal" class="reveal-modal" data-reveal>
  <h2>Como navegar</h2>

  <p>Para utilizar a página Passaporte UFPR da melhor
  maneira você pode participar de diversas formas:</p>

  <ul>
    <li>
      Caso você queira pesquisar informações sobre
      lugares para os quais você pode realizar intercâmbio,
      você pode navegar pelo mapa-múndi e clicar nos pins
      que desejar. Para pesquisar por lugares que oferecem
      intercâmbio para um determinado curso, você pode
      digitar o curso desejado na barra de pesquisa.
    </li>

    <li>
      Caso você seja ex-intercambista da UFPR e queira
      dividir sua experiência, você pode clicar no botão
      "Colabore" e preencher um formulário com suas dicas.
    </li>
  </ul>

  <a class="close-reveal-modal">&#215;</a>
</div>
