<div id="joinModal" class="reveal-modal" data-reveal>
  <h2>Formulário para Colaborador</h2>
  <p>Olá! Primeiramente, obrigado por participar deste projeto dividindo um pouco da sua experiência como intercambista. Sua colaboração é muito importante para que cada vez mais os intercambistas da Universidade Federal do Paraná possam aproveitar ao máximo a experiência da mobilidade acadêmica. Preencha as lacunas a seguir e, se quiser, deixe seu email para que estudantes interessados possam entrar em contato. Caso queira, você também pode incluir uma foto sua (que tal uma bem bonita de quando você viajou?) Novamente, muito obrigado!</p>

  <form>
    <div class="row">
      <div class="large-6 columns">
        <label>Nome</label>
        <input type="text" />
      </div>
      <div class="large-6 columns">
        <label>Email</label>
        <input type="email" />
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <label>Idade</label>
        <input type="text" />
      </div>
      <div class="large-4 columns">
        <label>Curso</label>
        <input type="text" />
      </div>
      <div class="large-4 columns">
        <label>Sua Foto</label>
        <input type="file" />
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <label>Universidade de Destino</label>
        <input type="text" />
      </div>
      <div class="large-4 columns">
        <label>Cidade</label>
        <input type="text" />
      </div>
      <div class="large-4 columns">
        <label>País</label>
        <input type="text" />
      </div>
    </div>

    <fieldset>
      <div class="row">
        <div class="large-4 columns">
          <label>Dicas de alimentação e compras</label>
          <textarea></textarea>
        </div>
        <div class="large-4 columns">
          <label>Dicas culturais</label>
          <textarea></textarea>
        </div>
        <div class="large-4 columns">
          <label>Demais dicas</label>
          <textarea></textarea>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <label>Dicas sobre passagens e visto</label>
          <textarea></textarea>
        </div>
        <div class="large-4 columns">
          <label>Dicas de moradia e segurança</label>
          <textarea></textarea>
        </div>
        <div class="large-4 columns">
          <label>Dicas de transporte</label>
          <textarea></textarea>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="large-12 columns">
        <a href="#" class="button right" id="sendJoin">Enviar</a>
      </div>
    </div>

  </form>

  <a class="close-reveal-modal">&#215;</a>
</div>
