<div id="linksModal" class="reveal-modal" data-reveal>
  <h2>Links Úteis</h2>

  <p>UFPR:</p>

  <ul>
    <li><a href="http://www.ufpr.br">ufpr.br</a></li>
    <li><a href="http://facebook.com/UFPRoficial">facebook.com/UFPRoficial</a></li>
  </ul>

  <p>ARI:</p>

  <ul>
    <li><a href="http://www.internacional.ufpr.br">internacional.ufpr.br</a></li>
    <li><a href="http://facebook.com/ufprinternacional">facebook.com/ufprinternacional</a></li>
  </ul>

  <a class="close-reveal-modal">&#215;</a>
</div>
